<div class="container mt-5">
  <div class="card">
    <div class="card-title text-center rounded-bottom-5" style="background-color: #00008f;">
      <h3 class="p-lg-1 fw-bolder fs-4 text-light">Ventes</h3>
    </div>
<div *ngIf="produits">
    <p>le produit le plus vendu : <em> {{ReturnProditById(ProduitVendu)}} </em> </p>
    </div>
<div  *ngIf="clients">
   <p>le client le plus fidels : <em> {{ReturnvaleueClient(plusFidelClient)}}</em> </p>
</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>ID Vente</th>
            <th>ID Client</th>
            <th>ID Produit</th>
            <th>Client</th>
            <th>Produit</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of ventes">
            <td>{{ c.idV}}</td>
            <td>{{ c.idClient }}</td>
            <td>{{ c.idProduit }}</td>
            <td>{{ c.client.name }}</td>
            <td>{{ c.produit.marque }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Actions" *ngIf="profile &&  profile=='admin'">
                <button type="button" class="btn btn-danger ps-3 pe-3" (click)="confirmerSupp(c)">
                  <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn btn-warning ms-4 shadow ps-3 pe-3" (click)="prendre(c)" data-bs-toggle="modal" data-bs-target="#updateModal">
                  <i class="bi bi-pencil"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center mt-3">
        <button class="btn btn-success shadow-sm pe-3 ps-3" data-bs-toggle="modal" data-bs-target="#myModal">
          <i class="bi bi-plus-square"></i> Ajouter une vente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Update Modal -->
<div class="modal" id="updateModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header text-center" style="background-color: #3f51b5;">
            <h3 class="fw-bold fs-4 text-light m-0">Modifier la vente</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="UpdateVente(add)" #add="ngForm">
              <div  class="mb-3" >
                <label class="form-label">Acheteur :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="test.idClient" name="idClient">
                  <option *ngFor="let a of clients" [value]="a.idC">Nom : {{a.name}}, {{a.adresse}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Produit :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="test.idProduit" name="idProduit">
                  <option *ngFor="let p of produits" [value]="p.idP">Marque : {{p.marque}}, {{p.type}}, {{p.qte}}</option>
                </select>
              </div>
              <div class="d-grid">
                <button class="btn btn-outline-success mx-auto" type="submit">Mettre à jour</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Add Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header text-center" style="background-color: #3f51b5;">
            <h3 class="fw-bold fs-4 text-light m-0">Ajouter une vente</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="postVente(add)" #add="ngForm">
              <div *ngIf="profile &&  profile=='admin'" class="mb-3">
                <label class="form-label">Client :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="test.idClient" name="idClient">
                  <option *ngFor="let a of clients" [value]="a.idC">Nom : {{a.name}}, {{a.adresse}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Produit :</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="test.idProduit" name="idProduit">
                  <option *ngFor="let p of produits" [value]="p.idP">Marque : {{p.marque}}, {{p.type}}, {{p.qte}}</option>
                </select>
              </div>
              <div class="d-grid">
                <button class="btn btn-success" type="submit">Ajouter</button>
              </div>
            </form>
            <hr>
            <div class="d-grid">
              <button class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



